<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">

  <mat-form-field>
    <mat-label>Religion Type</mat-label>
    <mat-select (selectionChange)="onSelectType($event.value)">
      <mat-option *ngFor="let type of religionTypes" [value]='type'>
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Religion Subtype</mat-label>
    <mat-select (selectionChange)="onSelectSubtype($event.value)">
      <mat-option *ngFor="let subtype of religionSubtypes" [value]='subtype'>
        {{subtype}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-chip>
    <div *ngIf="religionLocationsObject != undefined">
      {{ religionLocationsObject.features.length }}
    </div>

  </mat-chip>
</div>