<div *ngIf="religionLocationsObject != undefined">
  <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
    <agm-marker *ngFor="let item of religionLocationsObject.features; let i = index"
      [latitude]="item.geometry.y" [longitude]="item.geometry.x" [label]="label">
      <agm-info-window>
        <strong>{{item.attributes.naam}}</strong>
        <br />
        {{item.attributes.subtype}}
        <br /><br />
        {{item.attributes.straat}} {{item.attributes.huisnummer}}
        <br />
        {{item.attributes.postcode}} {{item.attributes.district}}
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>